:host {
  position: relative;

  display: flex;
  flex-direction: column;
  padding: 10px;

  min-height: 100%;
  background: #ffefef;

  min-width: 650px;

  .filter {
    margin-bottom: 12px;

    label {
      display: block;
      margin-bottom: 8px;
    }
  }

  td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &::ng-deep .ui-table .ui-table-thead>tr>th {
    position: sticky;
    top: 0px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
  }

  @media screen and (min-width: 1024px) {
    flex-direction: row;
  }

}
