<p-card [formGroup]="filters" header="Filters" [style]="{width: '360px', 'margin-bottom': '12px', 'margin-right': '12px', position: 'sticky', top: '0px'}">
  <p-button icon="pi pi-trash" iconPos="left" style="position:absolute;top:14px;right:14px;" (onClick)="clearFilters()"></p-button>
  <div class="filter">
    <label for="filter-last-name">Last name:</label>
    <input formControlName="lastname" id="filter-last-name" type="text" size="30" pInputText>
  </div>
  <div class="filter">
    <label for="filter-phone">Phone:</label>
    <input formControlName="phone" id="filter-phone" type="text" size="30" pInputText>
  </div>
  <div class="filter">
    <label for="filter-city">City:</label>
    <input formControlName="city" id="filter-city" type="text" size="30" pInputText>
  </div>
  <div class="filter">
    <label for="filter-dob">Date of birth:</label>
    <p-calendar formControlName="dob" id="filter-dob" selectionMode="range" [monthNavigator]="true" [yearNavigator]="true"
      [readonlyInput]="true" yearRange="1900:2019" dateFormat="yy-mm-dd"></p-calendar>
  </div>
</p-card>

<p-table #usersTable [columns]="cols" [value]="users" [lazy]="true" (onLazyLoad)="loadUsers($event)" [paginator]="true"
  [rows]="10" [totalRecords]="totalRecords" [loading]="loading" [rowsPerPageOptions]="[10,20,30]" [style]="{'max-width': '1000px', 'max-height': '100%'}">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 50px;"></th>
      <th>Name</th>
      <th>Date of birth</th>
      <th>Phone</th>
      <th>City</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row let-columns="columns">
    <tr>
      <td style="padding: 0px; display: flex;">
        <img [src]="row.picture.medium" style="width: 100%; height: 100%; object-fit: cover;">
      </td>
      <td>
        {{row.name?.first}} {{row.name?.last}}
      </td>
      <td>
        {{row.dob|date}}
      </td>
      <td>
        {{row.phone}}
      </td>
      <td>
        {{row.location?.city}}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="5">
        No records found
      </td>
    </tr>
  </ng-template>
</p-table>
